:root {
    --palette-red-1: #FE7874;
    --palette-red-2: #E34640;
    --palette-red-3: #9B3430;
    --palette-blue-1: #6FB9B1;
    --palette-blue-2: #499C9B;
    --palette-blue-3: #2A5B67;

    --shade-1: #FFFFFF;
    --shade-2: #EAEBEA;
    --shade-3: #8F908F;
    --shade-4: #252524;
    
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --palette-red-3: #FE7874;
        --palette-red_2: #E34640;
        --palette-red_1: #9B3430;
        --palette-blue-3: #6FB9B1;
        --palette-blue-2: #499C9B;
        --palette-blue-1: #2A5B67;

        --shade-1: #252524;
        --shade-2: #8F908F;
        --shade-3: #EAEBEA;
        --shade-4: #FFFFFF;
    }

    body {
        background-color: var(--shade-1);
        font-weight: 400;
        font-family: 'Noto Serif', sans-serif;
    }
}

#AutoCV-container {
    background-color: var(--shade-1);
    font-weight: 400;
    font-family: 'Noto Serif', sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999;
    height: 2.4rem;
    transition: all 0.2s cubic-bezier(.67,0,.39,1);
}

AutoCVh1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--shade-4);
    margin: 0;
    text-align: left;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

AutoCVh2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--shade-4);
    margin: 0;
}

AutoCVh3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: var(--shade-3);
    margin: 0;
}

AutoCVh4 {
    text-align: right;
    font-family: 'Noto Sans', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    color: var(--shade-3);
    margin: 0;
}

grad {
    background: -webkit-linear-gradient(70deg, var(--palette-blue-2), var(--palette-red-1) 90%);
    font-weight: 800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

AutoCVred {
    color: var(--palette-red-1);
}

AutoCVblue {
    color: var(--palette-blue-2);
    font-weight: 600;
}

AutoCVbutton {
    background-color: var(--shade-1);
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border: 1px solid var(--shade-2) !important;
    box-shadow: 0 0 .4rem 0 #0003;
    text-align: center;
}

.AutoCV-button {
    width: 100%;
    box-shadow: 0 0 .4rem 0rem rgba(0, 0, 0, 0.2);
    color: var(--palette-blue-2) !important;
    background: var(--shade-1) !important;
    border: 1px solid var(--shade-2) !important;
}

#AutoCV-pull-tab{
    top: 80px;
    right: 0;
    padding: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 9999998;
    height: 2.4rem;
}

#AutoCV-prompt-content{
    padding: 0.75em;
    background-color: #fefefe;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    border-radius: 8px;
    border: solid var(--palette-blue-2) 2px;
}

#AutoCV-prompt-head-left{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    margin-right: 0.5rem;
}
#AutoCV-prompt-head-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;    
    margin-left: 0.5rem;        
}

#AutoCV-prompt-head{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

#AutoCV-prompt{
    display: flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
}

.AutoCV-not-pinned{
    transform: translate(320px, 0);
}

#AutoCV-pin-button, #AutoCV-delete-button{
    text-align: right;
}

#AutoCV-pin-button:hover, #AutoCV-delete-button:hover, AutoCVbutton:hover, #AutoCV-pull-tab:hover{
    cursor: pointer;
}

#AutoCV-wrapper{
    width: 9rem;
    display: inline-flex;
    flex-direction: column;
    margin: 0.5rem;
}
