#Rizzshun-Button {
    color: var(--color-action);
    border-radius: var(--corner-radius-xlarge) !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
    box-shadow: inset 0 0 0 1px var(--color-action);
    font-weight: 600 !important;
    font-size: inherit;

    transition: box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

#Rizzshun-Button:hover {
    background-color: var(--color-background-none-tint-action-hover);
    color: var(--color-action);
    box-shadow: inset 0 0 0 2px var(--color-action);
}